#dashboard{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    max-width: 80% !important;
    margin-bottom: 40px !important;
}

.css-13xy2my{
    width: 90% !important;
    margin-bottom: 40px !important;
}

.css-18qulp9{
    width: 100% !important;
}

.product-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.select-form{
    width: 100%;
}