a{
    text-decoration: none;
}

.css-93hrkz-MuiPaper-root-MuiAppBar-root, .css-mdyg66-MuiModal-root-MuiDrawer-root .MuiDrawer-paper, .css-q3bifl{
    background-color: var(--primary) !important;
    box-shadow: none !important;
}

.css-q3bifl{
    background-color: var(--primary) !important;
}

.logo{
    width: 50px;
}